/****-自贸通APP下载-begin-****/
*{ margin: 0; padding: 0;}
body {
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
    background: #f5f5f5;
    box-sizing: border-box;
}
li { list-style: none;}
a, button, input{ font-family: "microsoft yahei", Arial, Helvetica, sans-serif; outline: none;}
.app_header h1:before, .app_header a:before, .app_header a:after, .app_wrapper p:before, .app_wrapper p:after, .app_ewm .app_ios a:before, .app_ewm .app_andriod a:before{
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.app_body{
    background: url("../images/nsimgs/app_bg.png") top center no-repeat;
    height: 746px;
}
.app_wrapper{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
}
.app_header{
    position: relative;
}
.app_header h1{
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 35px;
}
.app_header h1:before{
    background: url("../images/nsimgs/app_logo.png") no-repeat;
    width: 72px;
    height: 89px;
    margin-right: 18px;
    margin-top: 0;
}
.app_header a{
    width: 240px;
    height: 38px;
    background: #02b7cc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 38px;
    position: absolute;
    top: 26px;
    right: 0;
}
.app_header a:before{
    background: url("../images/nsimgs/app_sprites.png") 0 0 no-repeat;
    width: 50px;
    height: 22px;
    margin-right: 10px;
}
.app_header a:after{
    background: url("../images/nsimgs/app_sprites.png") 0 -130px no-repeat;
    width: 10px;
    height: 18px;
    margin-left: 10px;
}
.app_wrapper p{
    font-size: 22px;
    text-align: center;
    width: 630px;
    line-height: 36px;
    margin: 0 auto;
}
.app_wrapper p:before{
    background: url("../images/nsimgs/app_sprites.png") 0 -96px no-repeat;
    width: 21px;
    height: 16px;
    vertical-align: top;
    margin-right: 10px;
}
.app_wrapper p:after{
    background: url("../images/nsimgs/app_sprites.png") 0 -113px no-repeat;
    width: 21px;
    height: 16px;
    vertical-align: bottom;
    margin-left: 10px;
}
.app_content{
    margin-top: 20px;
    overflow: hidden;
}
.app_phone{
    background: url("../images/nsimgs/app_phone.png") no-repeat;
    width: 516px;
    height: 666px;
    margin-left: 64px;
    float: left;
}
.app_ewm{
    float: left;
    margin-top: 105px;
    margin-left: 25px;
}
.app_ewm img{
    width: 210px;
    height: 210px;
    display: block;
}
.app_ewm li{
    float: left;
    margin-left: 75px;
}
.app_ewm li a{
    width: 210px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 16px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    transition: all 0.3s ease-out;
}
.app_ewm .app_ios a{
    background: #f58a8a;
    border-bottom: 3px solid #ef635c;
}
.app_ewm .app_ios a:hover{
    background: #ff9c9c;
    border-bottom: 3px solid #f27b7b;
}
.app_ewm .app_andriod a{
    background: #4ed754;
    border-bottom: 3px solid #0ba916;
}
.app_ewm .app_andriod a:hover{
    background: #54e85b;
    border-bottom: 3px solid #24b521;
}
.app_ewm .app_ios a:before{
    background: url("../images/nsimgs/app_sprites.png") 0 -23px no-repeat;
    width: 30px;
    height: 35px;
    margin-right: 10px;
}
.app_ewm .app_andriod a:before{
    background: url("../images/nsimgs/app_sprites.png") 0 -59px no-repeat;
    width: 30px;
    height: 36px;
    margin-right: 10px;
}
.app_footer{
    height: 142px;
    background: #ebebeb;
    color: #999;
    font-size: 14px;
    text-align: center;
    margin-top: 270px;
}
.app_footer div{ padding-top: 40px;}
.app_footer p{ line-height: 20px;}
/****-自贸通APP下载-end-****/